@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Dax';
  src: url("../public/fonts/Dax\ Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
